body {
  background-color: #333
}

@font-face {
  font-family: 'myFont';
  src: url('fonts/Orbitron-VariableFont_wght.ttf') format('opentype');
}

/*font com o nosso texto e a cor*/
.txt {
  color: #eee;
  font-family: 'myFont';
}

/*config da navbar*/
.nav-link-custom {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'myFont';

}

/*efeito na navbar*/
.nav-link-custom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: cyan;
  /* ou a cor que quiser */
  transition: width 0.5s ease, text-shadow 0.5s ease;
}

/*efeito quando passa o mouse por cima na navbar*/
.nav-link-custom:hover::after {
  width: 50%;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/*efeito quando passa o mouse por cima na navbar*/
.nav-link-custom:hover {
  color: cyan;
  text-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 10px cyan, 0 0 100px cyan, 0 0 100px cyan;
}

/*efeito para o card*/
.border-cyan {
  border-color: cyan !important;
  box-shadow: 0 0 10px cyan;
}

/*efeito para o card*/
.border-light {
  border-color: #0f0f0f !important;
  box-shadow: 0 0 10px #aaa;
}